* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: stretch;
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: auto;
}

.column-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.menu-item{
    image-rendering: pixelated;
}

.menu-item:hover{
    filter: hue-rotate(90deg);
}

.menu-item:active{
    filter: hue-rotate(180deg);
}

.flex-element {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
}

.innerbox{
    width: 100%;
    height: 100%;
}

.box-1 {
    padding: 3rem;
    order: 1;
    height: 100vh;
    flex-basis: 18.75rem;
}

.box-2 {
    padding: 2rem;
    order: 2;
    margin: auto;
    display: block;
    min-width: 10rem;
    flex-basis: 56.25rem;
    max-width: 56.25rem;
    height: 100vh;
    flex: 2;
}

.box-3 {
    padding: 3rem;
    order: 3;
    height: 100vh;
    flex-basis: 21.875rem;
}
@media only screen and (max-width: 1555px) and (min-width: 800px) {
    .box-1 {
        padding: 3rem;
        order: 1;
        height: calc(100vh - 15.625rem);
        flex-basis: 18.75rem;
    }
    .box-2 {
        padding: 2rem;
        order: 2;
        min-width: 10rem;
        flex-basis: calc(100% - 21.875rem);
        height: calc(100vh - 15.625rem);
        flex: 2;
    }
    .box-3 {
        padding: 3rem;
        order: 3;
        height: 15.625rem;
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 100%;
    }
    .innerbox{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 799px),
            screen and (max-height: 599px) {
    .main-container{
        height: auto;
    }
    .box-1 {
        padding: 1.5rem;
        order: 1;
        flex-basis: 100%;
        height: auto;
    }
    .box-2 {
        padding: 1rem;
        order: 2;
        flex-basis: 100%;
        height: auto;
        min-width: 10rem;
    }
    .box-3 {
        padding: 1.5rem;
        order: 3;
        flex-basis: 100%;
        height: auto;
        margin: auto;
        max-width: 100%;
    }
    .innerbox{
        width: 100%;
        height: 100%;
    }
}