@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P/PressStart2P-Regular.ttf");
}
.blue-window{
    border-image-source: url(/images/png/windows/window-border-blue.png)
}
.blue-buttons{
    border-image-source: url(/images/png/windows/window-buttons-blue.png)
}
.gray-window{
    border-image-source: url(/images/png/windows/window-border-gray.png)
}
.gray-buttons{
    border-image-source: url(/images/png/windows/window-buttons-gray.png)
}
.window-borders{
    border-image-slice: 38 38 38 38 fill;
    border-image-width: 38px 38px 38px 38px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch; 
    border-style: solid; 
    image-rendering: pixelated;
    padding: 2px 5px 2px 5px;
    min-height: 150px
}
.window-buttons{
    border-image-slice: 0 59 0 30 fill;
    border-image-width: 0px 59px 0px 30px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch space;
    border-style: solid; 
    image-rendering: pixelated;
    height: 30px;
    text-align: center;
    position: relative;
}
.title {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    left: 50%;
    transform: translateX(-50%) translateY(-14px);
    max-width: calc(100% - 150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    display: block;
    user-select: none;
}
.content{
    padding: 0px 10px;
    height: calc(100% - 30px);
    overflow: auto;
}