@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P/PressStart2P-Regular.ttf");
}
.blue-window{
    border-image-source: url(/images/png/windows/window-border-blue.png)
}
.blue-buttons{
    border-image-source: url(/images/png/windows/window-buttons-blue.png)
}
.gray-window{
    border-image-source: url(/images/png/windows/window-border-gray.png)
}
.gray-buttons{
    border-image-source: url(/images/png/windows/window-buttons-gray.png)
}
.window-borders{
    border-image-slice: 38 38 38 38 fill;
    border-image-width: 2.375rem 2.375rem 2.375rem 2.375rem;
    border-image-outset: 0.5rem;
    border-image-repeat: stretch stretch; 
    border-style: solid; 
    image-rendering: pixelated;
    min-height: 10rem;
    border-width: 0;
}
.window-buttons{
    border-image-slice: 0 60 0 30 fill;
    border-image-width: 0 3.75rem 0 1.875rem;
    border-image-outset: 0;
    border-image-repeat: stretch space;
    border-style: solid;
    border-width: 0;
    image-rendering: pixelated;
    height: 1.889rem;
    text-align: center;
    position: relative;
}
.title {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    left: 50%;
    transform: translateX(-50%) translateY(-.6rem);
    max-width: calc(100% - 7rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    display: block;
    user-select: none;
}
.content{
    padding: 1rem;
    height: calc(100% - 2rem);
    overflow: auto;
    scrollbar-width: thin;
}